<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-auto bg-card dark:bg-transparent">
    <app-listing-header [pageTitle]="'Company'" [redirectButtonTitle]="'Add'"
        (handleRedirectClick)="goToForm()"></app-listing-header>

    <div class="container px-4">
        <div class="pt-5">
            <div class="card">
                <div class="card">
                    <p-table #dt2 [value]="companies" dataKey="id" [rows]="10" [rowsPerPageOptions]="[5,10, 25, 50]"
                        [loading]="isLoadingData" [paginator]="true"
                        [globalFilterFields]="['companyName', 'companyCode', 'registrationNo', 'email','phone','address','cityName','province','country']"
                        [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <div class="flex justify-between items-center  ">
                                <p-iconField iconPosition="left" class="ml-auto">
                                    <input pInputText type="text"
                                        (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Search keyword" />
                                </p-iconField>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:22%">Name</th>
                                <th style="width:22%">Code</th>
                                <th style="width:22%">Reg.No</th>
                                <th style="width:22%">Email</th>
                                <th style="width:22%">phone</th>
                                <th style="width:12%">address</th>
                                <th style="width:12%">cityName</th>
                                <th style="width:12%">province</th>
                                <th style="width:12%">country</th>
                                <th style="width:12%">status</th>
                                <th class="fixed-column" style="width:22%" style="width:22%">Action</th>
                            </tr>
                            <tr *ngIf="filtersVisible">
                                <th>
                                    <p-columnFilter type="text" style="width: 99px !important" field="companyName"
                                        placeholder="Search by name" ariaLabel="Filter Name" />
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="companyCode" placeholder="Search by Company code"
                                        ariaLabel="" />
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="" placeholder="Search by country"
                                        ariaLabel="Filter Country" />
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-company>
                            <tr>
                                <td>
                                    {{ company?.companyName }}
                                </td>
                                <td>
                                    <span class="ml-1 vertical-align-middle">
                                        {{ company?.companyCode }}
                                    </span>
                                </td>
                                <td>
                                    <span class="ml-1 vertical-align-middle">
                                        {{ company?.registrationNo }}
                                    </span>
                                </td>
                                <td>
                                    <span class="ml-1 vertical-align-middle">
                                        {{ company?.email }}
                                    </span>
                                </td>
                                <td>
                                    <span class="ml-1 vertical-align-middle">
                                        {{ company?.phone }}
                                    </span>
                                </td>
                                <td>
                                    <span class="ml-1 vertical-align-middle">
                                        {{ company?.address }}
                                    </span>
                                </td>
                                <td>
                                    <span class="ml-1 vertical-align-middle">
                                        {{ company?.cityName }}
                                    </span>
                                </td>
                                <td>
                                    <span class="ml-1 vertical-align-middle">
                                        {{ company?.province }}
                                    </span>
                                </td>
                                <td>
                                    <span class="ml-1 vertical-align-middle">
                                        {{ company?.country }}
                                    </span>
                                </td>
                                <td>
                                    <i class="pi"
                                        [ngClass]="{ 'text-green-500 pi-check-circle': company?.status, 'text-red-500 pi-times-circle': !company.status }"></i>
                                </td>

                                <td class="fixed-column">
                                    <span class="ml-1 vertical-align-middle flex">
                                        <button pButton pRipple type="button" icon="pi pi-pencil"
                                            (click)="goToForm(company.companyId)" class="p-button-text"></button>
                                        <button *ngIf="company?.status" pButton pRipple type="button" icon="pi pi-trash"
                                            (click)="deleteCompany(company.companyId,false)"
                                            class="p-button-text text-red-500">Deactivate</button>
                                        <button *ngIf="!company?.status" pButton pRipple type="button"
                                            icon="pi pi-trash"
                                            (click)="deleteCompany(company.companyId,true)"
                                            class="p-button-text text-green-500">Activate</button>
                                    </span>
                                </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">No customers found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </div>
        </div>
    </div>
</div>