.mat-mdc-form-field.mat-form-field-appearance-fill
    .mat-mdc-text-field-wrapper
    .mat-mdc-form-field-flex
    .mat-mdc-form-field-infix {
    position: static;
    display: flex;
    align-items: center;
    width: 88px !important;
    min-height: 39px !important;
    padding: 0 !important;
    border: 0 !important;
}